doctype html
html(lang="en")
  head
    title= "Security Cam Viewer"
    link(rel="stylesheet" href="base.css")
    script(src="https://cdn.jsdelivr.net/gh/phoboslab/jsmpeg/jsmpeg.min.js")
  body
    each ws_url in ws_urls
      canvas(id=ws_url)
      script. 
        new JSMpeg.Player("#{ws_url}", {
          canvas: document.getElementById("#{ws_url}")
        });
